.home-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    background-color: #f4f4f9;
  }
  
  .welcome-title {
    color: #2c3e50;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .intro-paragraph {
    color: rgb(98, 97, 97);
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: justify;
  }
  .yellow{
    color:#e0a80e;
  }
  .green{
    color:rgba(9, 125, 34, 0.833);
  }
  
   
  